body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-size: max(2vmin, 16px);
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #19641e;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000;
}

table th {
  font-weight: 500;
}

.list-group.news-group .list-group-item {
  border-left: none;
  border-right: none;
}
.list-group.news-group .list-group-item:first-child {
  border-top: none;
}
.list-group.news-group .list-group-item:last-child {
  border-bottom: none;
}

.btn {
  padding: 0.25rem 1rem;
  font-size: max(2vmin, 16px);
  width: -moz-fit-content;
  width: fit-content;
}
.btn.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #19641e;
  --bs-btn-border-color: #19641e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1e7824;
  --bs-btn-hover-border-color: #1e7824;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e7824;
  --bs-btn-active-border-color: #1e7824;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #19641e;
  --bs-btn-disabled-border-color: #19641e;
}
.btn.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #f7c35f;
  --bs-btn-border-color: #f7c35f;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: #f8cc77;
  --bs-btn-hover-border-color: #f8cc77;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8cc77;
  --bs-btn-active-border-color: #f8cc77;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f7c35f;
  --bs-btn-disabled-border-color: #f7c35f;
}
.btn.btn-transparent {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}
.btn.btn-round {
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.btn.btn-icon {
  display: flex;
}
.btn.btn-icon:has(.icon-prepend) {
  padding-left: 0.75rem;
}
.btn.btn-icon:has(.icon-prepend) .icon-prepend {
  padding: 0.4rem;
  margin-right: 0.1rem;
}
.btn.btn-icon:has(.icon-append) {
  padding-right: 0.75rem;
}
.btn.btn-icon:has(.icon-append) .icon-append {
  padding: 0.4rem;
  margin-left: 0.1rem;
}
.btn.btn-search {
  text-align: left;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.5);
}
.btn.btn-search:hover {
  border: 1px solid black;
  color: black;
}
@media screen and (min-width: 512px) {
  .btn.btn-search {
    width: 200px;
  }
}

.text-primary {
  color: #19641e !important;
}

.text-clipped {
  display: -webkit-box;
  line-clamp: var(--clamp-lines);
  -webkit-line-clamp: var(--clamp-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes flash {}
.border-primary {
  border-color: #19641e !important;
}

.border-secondary {
  border-color: #f7c35f !important;
}

.card-stack.colored .data-card {
  border-radius: 0.75rem;
  overflow: hidden;
}
.card-stack.colored .data-card .card-body {
  padding: 2rem 1rem;
}
.card-stack.colored .data-card .card-body .text * {
  margin: 0;
}
.card-stack.colored .data-card .card-body .text h3 {
  font-size: max(5vmin, 2rem);
}
.card-stack.colored .data-card.style-green {
  background-color: rgba(25, 100, 30, 0.1);
}
.card-stack.colored .data-card.style-yellow {
  background-color: rgba(247, 195, 95, 0.1);
}

.card-bordered {
  border: 0.25rem solid;
}

.rounded-overflow {
  border-radius: 0.75rem;
  overflow: hidden;
}

.frame {
  padding: 0.25rem;
  border-radius: 0.75rem;
  background-color: #19641e;
}
.frame.frame-01 {
  background: linear-gradient(30deg, #19641e 0%, #19641e 50%, #f7c35f 50%, #f7c35f 100%);
}
.frame img {
  border-radius: 0.5rem;
  overflow: hidden;
}

.form-control:focus {
  border-color: rgba(25, 100, 30, 0.1);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(25, 100, 30, 0.25);
}

.form-control-transparent {
  border: none;
  background: none;
}

.logo {
  overflow: hidden;
  border-radius: 0.25rem;
}

.thumbnail-style-01:hover .icon {
  box-shadow: 0 0 0 0.2rem #f7c35f;
}
.thumbnail-style-01 .icon {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  box-shadow: 0 0 0 0.2rem #19641e;
  padding: 0.25rem;
  margin: 0.2rem;
}
.thumbnail-style-01 .icon img {
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}
header nav.navbar .navbar-nav .nav-item .nav-link {
  color: #000;
}

.swiper .swiper-button-prev::after {
  background-image: url("../icons/left.png");
}
.swiper .swiper-button-next:after {
  background-image: url("../icons/right.png");
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 2.5rem;
  height: 2.5rem;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumb-area {
  padding: 80px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-position: center center !important;
  background-size: cover !important;
}
.breadcrumb-area.shadow.dark-hard {
  position: relative;
  z-index: 1;
}
.breadcrumb-area.shadow.dark-hard::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}
.breadcrumb-area .breadcrumb .breadcrumb-item,
.breadcrumb-area .breadcrumb .breadcrumb-item {
  color: #e4e4e4;
}
.breadcrumb-area .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #e4e4e4;
}

section.nospacing {
  padding: 0;
}
section.default-spacing {
  padding: max(5%, 1rem) 0;
}
section .title-icon {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
}
section .title-icon .icon {
  -webkit-mask-image: url("../masks/hexagonal.svg");
          mask-image: url("../masks/hexagonal.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #19641e;
  color: white;
}
section .title-icon:has(.icon-prepend) .icon-prepend {
  margin-right: 0.5rem;
}
section .title-icon:has(.icon-append) .icon-append {
  margin-left: 0.5rem;
}
section .section-title {
  font-size: 2rem;
  position: relative;
  margin-bottom: 2.5rem;
}
section .section-title .sub {
  font-family: "Shadows Into Light Two", cursive;
}
section .section-title::after {
  position: absolute;
  content: "";
  background-color: #19641e;
  height: 2px;
  width: max(10%, 200px);
  bottom: -0.5rem;
  left: 0;
}
section .section-title::before {
  content: "";
  height: 2rem;
  height: 2.3rem;
  position: relative;
  display: inline-block;
  right: 0.25rem;
  aspect-ratio: 1;
  top: 0.5rem;
  background: url(../ico.png) no-repeat;
  background-size: 105% auto;
}

.event-style-one a h3,
.event-style-one a h4 {
  color: #19641e;
}
.event-style-one .thumb {
  position: relative;
  margin-bottom: 2.5rem;
}
.event-style-one .thumb .date {
  position: absolute;
  left: 0;
  bottom: -32px;
  background: #f7c35f;
  color: #000;
  text-align: center;
}
.event-style-one .thumb .date strong {
  font-size: 36px;
  line-height: 1;
  padding: 15px 10px;
  display: block;
}
.event-style-one .thumb .date span {
  display: block;
  background: #19641e;
  color: #e4e4e4;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
}
.event-style-one .social-share .social-icon {
  color: #000;
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
}

.clipped-content {
  overflow: hidden;
  text-overflow: ellipsis;
}
.clipped-content.line-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1; /* Standard property */
}
.clipped-content.line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* Standard property */
}
.clipped-content.line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* Standard property */
}
.clipped-content.line-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4; /* Standard property */
}
.clipped-content.line-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5; /* Standard property */
}

.event-style-two a h3,
.event-style-two a h4 {
  color: #19641e;
}
.event-style-two .thumb {
  position: relative;
  margin-bottom: 2.5rem;
}
.event-style-two .thumb .date {
  position: absolute;
  left: 0;
  bottom: -32px;
  background: #f7c35f;
  color: #000;
  text-align: center;
}
.event-style-two .thumb .date strong {
  font-size: 36px;
  line-height: 1;
  padding: 15px 10px;
  display: block;
}
.event-style-two .thumb .date span {
  display: block;
  background: #19641e;
  color: #e4e4e4;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
}
.event-style-two .social-share .social-icon {
  color: #000;
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
}

svg#india_map path {
  fill: #e4e4e4;
  stroke: #000;
  cursor: pointer;
}
svg#india_map path.active {
  fill: #19641e;
}
svg#india_map path:not(.active):hover {
  fill: #f7c35f;
}
svg#india_map path:active {
  fill: #f5b12e;
}

.details-view {
  top: 0;
  right: 0;
}

footer {
  padding: max(5%, 1rem) 0;
  color: #e4e4e4;
  font-size: 0.9rem;
}
footer .footer-social .social-icon {
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
}
footer .footer-description h5 {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
footer .footer-description h5::after {
  position: absolute;
  content: "";
  background-color: #e4e4e4;
  height: 2px;
  width: max(10%, 200px);
  bottom: -0.75rem;
  left: 0;
}
footer .footer-links h5 {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
footer .footer-links h5::after {
  position: absolute;
  content: "";
  background-color: #e4e4e4;
  height: 2px;
  width: max(10%, 200px);
  bottom: -0.75rem;
  left: 0;
}
footer .footer-links .nav-item .nav-link {
  padding-left: 0;
}
footer .nav-item .nav-link {
  color: inherit;
}
footer .nav-item .nav-link.disabled {
  color: rgba(228, 228, 228, 0.5);
}