$color-white: #efefef;
$color-white-0: #ffffff;
$color-black: #1c1c1c;
$color-black-0: #000000;
$color-red: #b72026;
$color-yellow: #ffde3f;
$color-yellow-2: #cf8b2c;
$color-orange: #f05c27;
$color-green: #03943b;
:root {
    --bs-font-sans-serif: "Inter", Helvetica, sans-serif;
}
body {
    line-height: 1.3;
}

pre {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

form {
    label {
        display: inline-block;
        color: $color-black-0;
        font-weight: 500;
        &:has(+ input) {
            margin-bottom: 0.5rem;
        }
        &.response {
            font-size: 1.1rem;
        }
    }
}

form {
    input,
    textarea {
        &.form-control {
            border: 1px solid #969696;
        }
    }
    .select2-selection {
        border: 1px solid #969696 !important;
    }
    label.error {
        color: red;
        font-size: 0.8rem;
    }
    .form-control {
        &[required] {
        }
    }
    .form-check-input {
        &:checked {
            background-color: $color-red;
            border-color: $color-red;
        }
        &:focus {
            border-color: rgba($color-red, 0.5);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba($color-red, 0.2);
        }
    }
}

.badge {
    padding: 0.35rem 0.8rem;
    font-size: 0.8rem;
    font-weight: normal;
    background-color: rgba($color-black, $alpha: 0.2) !important;
    color: darken($color-black, $amount: 10) !important;
    &.bg-danger {
        background-color: rgba($color-red, $alpha: 0.2) !important;
        color: darken($color-red, $amount: 10) !important;
    }
    &.bg-success {
        background-color: rgba($color-green, $alpha: 0.2) !important;
        color: darken($color-green, $amount: 10) !important;
    }
    &.bg-warning {
        background-color: rgba($color-yellow-2, $alpha: 0.2) !important;
        color: darken($color-yellow-2, $amount: 10) !important;
    }
}

.nomination_detailed {
    .tab-content {
        margin-top: 1rem;
    }
}

.input-group-card {
    border-radius: 1rem;
    p {
        &:has(+ h5) {
            margin-bottom: 0.5rem;
        }
    }
}

.card-comment {
    background-color: $color-white-0;
}

.text-muted {
    font-size: smaller;
}

.staged-tab-wizard {
    .nav-item {
        .nav-link {
            &.disabled {
                color: $color-black !important;
            }
        }
    }
}

.welcome-banner {
    background: url(../../images/favicon_op30.png) no-repeat,
        rgba(255, 222, 63, 0.2);
    background-size: max(15%, 10rem);
    background-position: -5% 20%;
    border: 1px solid rgba(255, 222, 63, 0.6);
    border-radius: 0.5rem;
}

table {
    a {
        color: $color-black;
    }
}

.btn {
    border-radius: 0;
    padding: 0.5rem 1rem;
    &.btn-yellow {
        --bs-btn-color: #{$color-black};
        --bs-btn-bg: #{$color-yellow};
        --bs-btn-border-color: #{$color-yellow};
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #{$color-red};
        --bs-btn-hover-border-color: #{$color-red};
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #{$color-red};
        --bs-btn-active-border-color: #{$color-red};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #{$color-yellow};
        --bs-btn-disabled-border-color: #{$color-yellow};
    }
}

.staged-tab-wizard {
    .nav-item {
        .nav-link {
            &.success {
                background-color: $color-green;
                color: $color-white-0;
            }
        }
    }
}

.blog-title {
    display: block;
    text-overflow: ellipsis;
    width: 400px;
    overflow: hidden;
}
