:root {
  --bs-font-sans-serif: "Inter", Helvetica, sans-serif;
}

body {
  line-height: 1.3;
}

pre {
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

form label {
  display: inline-block;
  color: #000000;
  font-weight: 500;
}
form label:has(+ input) {
  margin-bottom: 0.5rem;
}
form label.response {
  font-size: 1.1rem;
}

form label.error {
  color: red;
  font-size: 0.8rem;
}
.badge {
  padding: 0.35rem 0.8rem;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: rgba(28, 28, 28, 0.2) !important;
  color: rgb(2.5, 2.5, 2.5) !important;
}
.badge.bg-danger {
  background-color: rgba(183, 32, 38, 0.2) !important;
  color: rgb(139.5906976744, 24.4093023256, 28.9860465116) !important;
}
.badge.bg-success {
  background-color: rgba(3, 148, 59, 0.2) !important;
  color: rgb(1.9867549669, 98.0132450331, 39.0728476821) !important;
}
.badge.bg-warning {
  background-color: rgba(207, 139, 44, 0.2) !important;
  color: rgb(164.9402390438, 110.7569721116, 35.0597609562) !important;
}

.nomination_detailed .tab-content {
  margin-top: 1rem;
}

.input-group-card {
  border-radius: 1rem;
}
.input-group-card p:has(+ h5) {
  margin-bottom: 0.5rem;
}

.card-comment {
  background-color: #ffffff;
}

.text-muted {
  font-size: smaller;
}

.staged-tab-wizard .nav-item .nav-link.disabled {
  color: #1c1c1c !important;
}

.welcome-banner {
  background: url(../../images/favicon_op30.png) no-repeat, rgba(255, 222, 63, 0.2);
  background-size: max(15%, 10rem);
  background-position: -5% 20%;
  border: 1px solid rgba(255, 222, 63, 0.6);
  border-radius: 0.5rem;
}

table a {
  color: #1c1c1c;
}

.clipped-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.clipped-content.line-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.clipped-content.line-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.clipped-content.line-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.clipped-content.line-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.clipped-content.line-5 {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.btn {
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn.btn-yellow {
  --bs-btn-color: #1c1c1c;
  --bs-btn-bg: #ffde3f;
  --bs-btn-border-color: #ffde3f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b72026;
  --bs-btn-hover-border-color: #b72026;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b72026;
  --bs-btn-active-border-color: #b72026;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffde3f;
  --bs-btn-disabled-border-color: #ffde3f;
}

.staged-tab-wizard .nav-item .nav-link.success {
  background-color: #03943b;
  color: #ffffff;
}

.blog-title {
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 400px;
  overflow: hidden;
}

.embed-fullscreen {
  height: 100vh;
}