$color-green: #19641e;
$color-yellow: #f7c35f;
$color-black: #000;
$color-white: #e4e4e4;

body {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: calc(max(2vmin, 16px));
    color: $color-black;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: $color-green;
    }
}

table{
    th{
        font-weight: 500;
    }
}
.list-group.news-group{
    .list-group-item{
        border-left: none;
        border-right: none;
        &:first-child{
            border-top: none;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}
.btn {
    padding: 0.25rem 1rem;
    font-size: calc(max(2vmin, 16px));
    &.btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #{$color-green};
        --bs-btn-border-color: #{$color-green};
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #{lighten($color-green, 5)};
        --bs-btn-hover-border-color: #{lighten($color-green, 5)};
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #{lighten($color-green, 5)};
        --bs-btn-active-border-color: #{lighten($color-green, 5)};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #{$color-green};
        --bs-btn-disabled-border-color: #{$color-green};
    }
    &.btn-secondary {
        --bs-btn-color: $color-black;
        --bs-btn-bg: #{$color-yellow};
        --bs-btn-border-color: #{$color-yellow};
        --bs-btn-hover-color: $color-black;
        --bs-btn-hover-bg: #{lighten($color-yellow, 5)};
        --bs-btn-hover-border-color: #{lighten($color-yellow, 5)};
        --bs-btn-focus-shadow-rgb: 130, 138, 145;
        --bs-btn-active-color: $color-black;
        --bs-btn-active-bg: #{lighten($color-yellow, 5)};
        --bs-btn-active-border-color: #{lighten($color-yellow, 5)};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: $color-black;
        --bs-btn-disabled-bg: #{$color-yellow};
        --bs-btn-disabled-border-color: #{$color-yellow};
    }

    &.btn-round {
        width: 3rem;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    &.btn-icon {
        &:has(.icon-prepend) {
            padding-left: 0.75rem;
            .icon-prepend {
                margin-right: 0.1rem;
            }
        }
        &:has(.icon-append) {
            padding-right: 0.75rem;
            .icon-append {
                margin-left: 0.1rem;
            }
        }
    }
    &.btn-search {
        text-align: left;
        width: 100%;
        border: 1px solid rgba($color-black, 0.7);
        color: rgba($color-black, 0.5);
        &:hover {
            border: 1px solid rgba($color-black, 1);
            color: rgba($color-black, 1);
        }
    }

    @media screen and (min-width: 512px) {
        &.btn-search {
            width: 200px;
        }
    }
}

.text-clipped{
    display: -webkit-box;
    line-clamp: var(--clamp-lines);
    -webkit-line-clamp: var(--clamp-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stack{
    &.colored{
        .data-card{
            border-radius: 0.75rem;
            overflow: hidden;
            .card-body{
                padding: 2rem 1rem;
                .text{
                    *{
                        margin: 0;
                    }
                    h3{
                        font-size: calc(max(5vmin, 2rem));
                    }
                }
            }
            &.style-green{
                background-color: rgba($color-green, 0.1);
            }
            &.style-yellow{
                background-color: rgba($color-yellow, 0.1);
            }
        }
    }
}

.rounded-overflow{
    border-radius: 0.75rem;
    overflow: hidden;
}

.form-control {
    &:focus {
        border-color: rgba($color-green, 0.1);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba($color-green, 0.25);
    }
}
.logo {
    overflow: hidden;
    border-radius: 0.25rem;
}
header {
    position: sticky;
    top: 0;
    z-index: 99;
    nav.navbar {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $color-black;
                }
            }
        }
    }
}
.swiper {
    .swiper-button-prev::after {
        background-image: url("../icons/left.png");
    }
    .swiper-button-next:after {
        background-image: url("../icons/right.png");
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 2.5rem;
        height: 2.5rem;
    }
    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}
.breadcrumb-area {
    padding: 80px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center center !important;
    background-size: cover !important;
    &.shadow.dark-hard {
        position: relative;
        z-index: 1;
        &::after {
            background: $color-black none repeat scroll 0 0;
            content: "";
            height: 100%;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
    }

    .breadcrumb {
        .breadcrumb-item,
        .breadcrumb-item {
            color: $color-white;
        }
        .breadcrumb-item + .breadcrumb-item::before {
            color: $color-white;
        }
    }
}

section {
    &.nospacing {
        padding: 0;
    }
    &.default-spacing {
        padding: calc(max(5%, 1rem)) 0;
    }

    .section-title {
        font-size: 2rem;
        position: relative;
        margin-bottom: 2.5rem;
        .sub {
            font-family: "Shadows Into Light Two", cursive;
        }
        &::after {
            position: absolute;
            content: "";
            background-color: $color-green;
            height: 2px;
            width: max(10%, 200px);
            bottom: -0.5rem;
            left: 0;
        }
        &::before {
            content: "";
            height: 2rem;
            height: 2.3rem;
            position: relative;
            display: inline-block;
            right: 0.25rem;
            aspect-ratio: 1;
            top: 0.5rem;
            background: url(../ico.png) no-repeat;
            background-size: 105% auto;
        }
    }
}

.event-style-one {
    a {
        h3,
        h4 {
            color: $color-green;
            &:hover {
            }
        }
    }

    .thumb {
        position: relative;
        margin-bottom: 2.5rem;
        .date {
            position: absolute;
            left: 0;
            bottom: -32px;
            background: $color-yellow;
            color: $color-black;
            text-align: center;
            strong {
                font-size: 36px;
                line-height: 1;
                padding: 15px 10px;
                display: block;
            }
            span {
                display: block;
                background: $color-green;
                color: $color-white;
                padding: 5px 10px;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
    .event_image {
    }

    .social-share {
        .social-icon {
            color: $color-black;
            width: 2.5rem;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $color-black;
        }
    }
}
.clipped-content {
    overflow: hidden;
    text-overflow: ellipsis;

    @for $i from 1 through 5 {
        // Generate classes for 1 to 5 lines
        &.line-#{$i} {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $i;
            line-clamp: $i; /* Standard property */
        }
    }
}
.event-style-two {
    a {
        h3,
        h4 {
            color: $color-green;
            &:hover {
            }
        }
    }

    .thumb {
        position: relative;
        margin-bottom: 2.5rem;
        .date {
            position: absolute;
            left: 0;
            bottom: -32px;
            background: $color-yellow;
            color: $color-black;
            text-align: center;
            strong {
                font-size: 36px;
                line-height: 1;
                padding: 15px 10px;
                display: block;
            }
            span {
                display: block;
                background: $color-green;
                color: $color-white;
                padding: 5px 10px;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }

    .event_image {
    }

    .social-share {
        .social-icon {
            color: $color-black;
            width: 2.5rem;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $color-black;
        }
    }
}

footer {
    padding: calc(max(5%, 1rem)) 0;
    color: $color-white;
    font-size: 0.9rem;
    .footer-social {
        .social-icon {
            width: 2.5rem;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $color-white;
        }
    }
    .footer-description {
        h5 {
            position: relative;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            &::after {
                position: absolute;
                content: "";
                background-color: $color-white;
                height: 2px;
                width: max(10%, 200px);
                bottom: -0.75rem;
                left: 0;
            }
        }
    }
    .footer-links {
        h5 {
            position: relative;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            &::after {
                position: absolute;
                content: "";
                background-color: $color-white;
                height: 2px;
                width: max(10%, 200px);
                bottom: -0.75rem;
                left: 0;
            }
        }
        .nav-item {
            .nav-link {
                padding-left: 0;
            }
        }
    }
    .nav-item {
        .nav-link {
            color: inherit;
            &.disabled {
                color: rgba($color-white, 0.5);
            }
        }
    }
}
